/* 
   center box style 
*/
.inner__full{position:relative; width:100%; margin: 0 auto;}
.inner__cen768{position:relative; width:95%; max-width:768px; margin: 0 auto;}
.inner__cen980{position:relative; width:95%; max-width:980px; margin: 0 auto;}
.inner__cen1088{position:relative; width:95%; max-width:1088px; margin: 0 auto;}
.inner__cen1192{position:relative; width:95%; max-width:1192px; margin: 0 auto;}
.inner__cen1280{position:relative; width:95%; max-width:1280px; margin: 0 auto;}
.inner__cen1320{position:relative; width:95%; max-width:1320px; margin: 0 auto;}
.inner__cen1440{position:relative; width:95%; max-width:1440px; margin: 0 auto;}
.inner__cen1600{position:relative; width:95%; max-width:1600px;margin: 0 auto;}
.inner__cen1800{position:relative; width:95%; max-width:1800px;margin: 0 auto;}
.inner__cen1920{position:relative; width:95%; max-width:1920px; margin: 0 auto;}



/* 
   basic setting 
*/
.hide{display:none !important;}


.img__descrip{display: none !important;}
.hidden1720{}
.visible1720{display:none;}
.hidden1440{}
.visible1440{display:none;}
.hidden1280{}
.visible1280{display:none;}
.hidden1024{}
.visible1024{display:none;}
.hidden768{}
.visible768{display:none;}
.hidden768{}
.visible768{display:none;}
.hidden570{}
.visible570{display:none;}
.hidden480{}
.visible480{display:none;}
@media screen and (max-width:1720px){
   .hidden1720{display:none;}
   .visible1720{display:block;}
}
@media screen and (max-width:1440px){
   .hidden1440{display:none;}
   .visible1440{display:block;}
}
@media screen and (max-width:1280px){
   .hidden1280{display:none;}
   .visible1280{display:block;}
}
@media screen and (max-width:1024px){
   .hidden1024{display:none;}
   .visible1024{display:block;}
}

@media screen and (max-width:768px){
   .hidden768{display:none;}
   .visible768{display:block;}
}
@media screen and (max-width:570px){
   .hidden570{display:none;}
   .visible570{display:block;}
}
@media screen and (max-width:480px){
   .hidden480{display:none;}
   .visible480{display:block;}
}


.mt08{margin-top: 8px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt60{margin-top: 60px;}

.mb08{margin-bottom: 8px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}



/* 
   text style
*/
.talign__left{text-align:left;}
.talign__center{text-align:center;}
.talign__right{text-align:right;}

.img__wr > img{width:100%;}
.hgt__100vh{height:100vh;}
.hgt__100per{height:100%;}


:root {
--main__color:#ff5717;
--tx__color01:rgba(156,163,175,1);
--color02:rgba(255,255,255,0.08);
--color03:rgba(255,255,255,0.5);

}

@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){
.hgt__100vh{height:auto;}
.main-content-wr{padding:0 0 100px;}
#main-contents-wr00.hgt__100vh{height:100vh; padding:0;}
}/* 1024px */

@media screen and (max-width:768px){
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){

.mt08{margin-top: 4px;}
.mt20{margin-top: 12px;}
.mt30{margin-top: 16px;}
.mt40{margin-top: 24px;}
.mt60{margin-top: 40px;}

.mb08{margin-bottom: 4px;}
.mb20{margin-bottom: 12px;}
.mb30{margin-bottom: 16px;}
.mb40{margin-bottom: 24px;}
.mb60{margin-bottom: 40px;}


.main-content-wr{padding:0 0 80px;}
}/* 570px */

@media screen and (max-width:480px){
}/* 480px */

@media screen and (max-width:375px){
}/* 375px */

/*********************************************************************************
**********************************************************************************
메인페이지 *******************************************************************
**********************************************************************************/

body { font-family: "Inter", "Pretendard", sans-serif; background:#000; color:#000; overflow-x:hidden; }
body #main{color:#fff;}
.PlayfairDisplay{font-family: "Playfair Display", sans-serif;}
.wrap{ width:100%;overflow:hidden; }
#main{overflow-x:hidden; max-width:100%; width:100%; }
.img-wr > img{ width:100%; }
.hidden-tx{overflow:hidden;}
.border-style{border:1px solid rgba(255, 255, 255, 0.08); border-radius:20px; overflow:hidden;}
.h100-center{ display:flex; align-items:center; justify-content: center;  }
.tx-style01{ font-size:12px; color:rgba(255,255,255,0.5); font-weight: 400; font-family: "Inter", sans-serif; }
.flex-wr{ display:flex; align-items:center; justify-content: space-between; }
.flex-wr.style02{justify-content:flex-start; gap:8px;}

.char {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeDown 0.6s forwards;
    animation-delay: calc(4.3s + 0.1s * var(--char-index));
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =================================================== */
/* [재방문 시] .no-intro 클래스가 있으면 딜레이 없이 즉시 등장 */
/* =================================================== */

/* 방법 A: 딜레이 없이 바로 스르륵 올라오는 애니메이션 적용 */
.no-intro .char {
    animation-delay: calc(0.1s * var(--char-index)); /* 전체 대기 시간 4.3s만 제거 */
}



/* 스크롤 유도 */
.fixed-scroll-bottom{position:fixed; left:50%; transform:translateX(-50%); bottom:30px; z-index:99; transition:0.3s;}
.fixed-scroll-bottom.on{opacity:0; visibility: hidden; }
.fixed-scroll-bottom .scroll-line-wr{width:1px; height:60px; background:rgba(255,255,255,0.5); display:block; margin:12px auto 0; position:relative; }
.fixed-scroll-bottom .scroll-line-wr .active-line{width:100%; position:absolute; top:0; left:0; height:0; background:#fff;}

#main{ width:100%; }
canvas{display:block; position:fixed; top:0; left:0; z-index:0; }
.header{ position:fixed; top:0; left:0; width:100%; height:90px; line-height: 90px; z-index: 999;transition: all ease .2s; -webkit-transition: all ease .2s; -o-transition: all ease .2s; -moz-transition: all ease .2s;-ms-transition: all ease .2s; }
.header .main__mnav__wr{ display:flex; gap:60px; justify-content: center; }
.header .main__mnav__wr a{ font-size:16px; color:#fff; font-weight: 400; }
.main-intro-title-wr .title{ font-size:12vw; color:#fff; font-weight: 300; letter-spacing:-0.5px; line-height: 1; font-family: "Playfair Display", sans-serif;
overflow:hidden; }

#sub .header.scroll{position:fixed; top:0; background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);}

.main-intro-title-wr .text{ font-size: 18px; color:rgba(255,255,255,0.3); font-weight: 400; letter-spacing:-0.5px; line-height: 1.56; }
.main-intro-title-wr .text:first-child{background-position: 90% 0%;}
.main-intro-title-wr .hidden-tx{transform:translateY(100%); transition:all 0.6s ease-out; opacity:0; }

.main-intro-title-wr .text{background: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0.13) 50%); background-size: 200% 100%; 
background-position: 100% 0; -webkit-background-clip: text; background-clip: text; color: transparent;display: block;}
.main-title-wr{margin-bottom: 60px;}
.main-title-wr .tit{ font-size:16px; color:var(--main__color); font-weight: 500; letter-spacing:-0.5px; line-height: 1; }
.main-title-wr .tx01{ font-size:18px; color:var(--tx__color01); font-weight: 300; letter-spacing:-0.5px; line-height: 1.56; }
.main-title-wr .title{font-size:50px; color:#fff; font-weight: 500; line-height: 1.5; font-family: "Playfair Display", sans-serif; }


/* [기본 / 첫 방문 시] 4.5초 대기 후 전환 */
#main-contents-wr00[data-scroll="in"] .main-intro-title-wr .hidden-tx {
    transform: translateY(0);
    transition-delay: 4.5s;
    opacity: 1;
}

body.no-intro #main-contents-wr00[data-scroll="in"] .main-intro-title-wr .hidden-tx {
    transition-delay: 0s;
}

.main-intro-wr{position:fixed; top:0; left:0; width:100%; height:100vh; background:#000; z-index:9999;}
.main-intro-wr.no-intro{display:none !important;}
.main-intro-wr.is-ready{display:flex !important;}
.main-intro-wr .fill-text{font-size:50px; font-weight: 600; position:relative; margin:0;}
.main-intro-wr .fill-text .base-text { color: rgba(255, 255, 255, 0.2); }
.main-intro-wr .fill-text .top-text { color: #fff; position: absolute; top: 0; left: 0; width: 0; height: 100%; overflow: hidden;  white-space: nowrap;  display: block;}


.main-intro-wr .top-tx-wr{position:absolute; width:95%; margin:0; left:50%; transform:translateX(-50%); top:40px;}
.main-intro-wr .bt-tx-wr{position:absolute; width:95%; margin:0; left:50%; transform:translateX(-50%); bottom:40px;}
.main-intro-wr .top-tx-wr .tx-style01{ line-height: 1.5; }


@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){
.header{height:80px; line-height:80px;}
.header .main__mnav__wr{gap:40px;}
.flex-wr{display:block; width:100%;}
.main-intro-title-wr .text{ font-size: 16px;}
.main-intro-wr .fill-text{font-size:40px;}

}/* 1024px */

@media screen and (max-width:768px){
.main-intro-title-wr .text{ font-size: 14px;}

.main-intro-wr .fill-text{font-size:32px;}
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
.header{height:70px; line-height:70px;}
.header .main__mnav__wr a{font-size:14px;}
.header .main__mnav__wr{gap:0; justify-content: space-between; }
.fixed-scroll-bottom{bottom:24px;}
.fixed-scroll-bottom .scroll-line-wr{height:45px; margin:8px auto 0;}
.main-intro-title-wr .text{font-size:12px;}
.main-intro-wr .fill-text{font-size:24px;}

.main-intro-wr .top-tx-wr{top:30px; width:95%;}
.main-intro-wr .bt-tx-wr{bottom:30px; width:95%;}
canvas{opacity:0.6;}
}/* 570px */

@media screen and (max-width:480px){
.header .main__mnav__wr{gap:24px;}
.header .main__mnav__wr a{font-size:3.2vw;}

.main-intro-wr .fill-text{font-size: 6.5vw;}

}/* 480px */

/* hover 버튼 */
.button--janus{pointer-events:auto;cursor:pointer;border:none;margin:40px 0 0;position:relative;display:flex;align-items:center;justify-content:center;width:175px;height:120px;color:#fff;background:none;}
.button--janus-svg{position:absolute;top:0;left:0;width:100%;height:100%;overflow:visible;z-index:2;}
.button--janus-fill{fill:#000;d:path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");transition:d .5s cubic-bezier(.585,2.5,.645,.55);}
.button--janus::after{ content:''; position:absolute; top:5%; left:0; width:97%; height:86%; border-radius:58% 42% 55% 45% / 56% 45% 55% 44%; border:1px solid #000; transform:translate3d(0,0,0) rotate(-20deg);
z-index:1;transition:transform .5s cubic-bezier(.585,2.5,.645,.55);}
.button--janus span{display:block;z-index:3;position:relative;transition:transform .3s ease;font-weight:500;color:#fff;bottom:6px;font-size:16px;}

@media(pointer:fine){
    .button--janus:hover .button--janus-fill{ d:path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"); }
    .button--janus:hover::after{transform:translate3d(0,-12px,0) rotate(-10deg); }.button--janus:hover span{transform:translate3d(0,-10px,0);}
}

/* section01 */
.main-contents-wr01 .img-wr{max-width:400px; width:100%; }
.main-contents-wr01 .main-title-wr{margin-bottom: 0;}


@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
.main-title-wr .tx01{font-size:16px;}
.main-contents-wr01 .img-wr{max-width:320px;}

}/* 1280px */

@media screen and (max-width:1024px){
.main-title-wr .tx01{font-size:14px;}
.main-contents-wr01 .img-wr{width:220px; margin: 24px 0 0; max-width:100%;}
  
}/* 1024px */

@media screen and (max-width:768px){
.main-contents-wr01 .img-wr{width:160px;}

.button--janus{ width: 135px;height: 100px; margin:24px 0 0; transform-origin: left; transform: scale(0.8);}
.button--janus span{font-size:14px;}

}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
.main-title-wr .tx01{font-size:13px;}
.main-contents-wr01 .img-wr{width:140px;}
}/* 570px */

@media screen and (max-width:480px){

.main-title-wr .tx01{font-size:3vw;}

}/* 480px */

@media screen and (max-width:375px){
}/* 375px */


/* section02 */
.main-content-wr .project-li-wr{margin-bottom: 80px;}
.main-content-wr .project-li-wr:last-child{margin-bottom: 0;}
.main-content-wr .project-li-wr .project-li{ display:flex; gap:40px; }
.main-content-wr .project-li-wr:nth-child(even) .project-li{flex-direction: row-reverse;}

.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr .tit01{ justify-content: flex-end;}
.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr{text-align: right; }
.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr .main-btn{ justify-content: flex-end;}

.main-content-wr .project-li-wr .project-img{border: 1px solid rgba(255, 255, 255, 0.08); border-radius: 20px; max-width:880px; min-width:878px; width:100%; height:554px; overflow:hidden; }
.main-content-wr .project-li-wr .project-img img{ width:100%; height:100%; object-fit:cover; transition: all 0.5s ease; }
.main-content-wr .project-li-wr .project-explan-wr{ flex:1; position:relative; }

.project-explan-wr .tit01{ display:flex; align-items: center; color:var(--tx__color01); font-weight: 400; font-size:16px; line-height: 1;}
.project-explan-wr .tit01 .number{display:inline-block; font-size:12px; border:1px solid rgba(255,87,23,0.3); font-weight: 300; height:24px; margin-right:12px;
line-height: 22px; text-align: center; border-radius:24px; padding:0 12px; color:var(--main__color);}

.project-explan-wr .tit01 span{display:inline-block; margin:0 4px;}

.project-explan-wr .subject{font-size:52px; color:#fff; font-weight: 600; margin:40px 0; letter-spacing: 2px; line-height: 1.34; text-transform: uppercase;}
.project-explan-wr .tx01{text-transform: uppercase; font-size:16px; color:var(--tx__color01); font-weight: 300; }

.project-li-wr .main-btn{position:absolute; bottom:0; left:0;}
.main-btn{width:100%; color:#fff; font-size:12px; font-weight: 600; display:flex; align-items:center; }
.main-btn .hover-line{display:block; --line-width: 45px; 
  width: var(--line-width); height:1px; background:rgba(255,255,255,0.5); margin-right: 12px; transition:width 0.5s;}

@media (pointer: fine) {
.main-content-wr .project-li-wr .project-li:hover .main-btn .hover-line{ width: calc(var(--line-width) + 5%); }
.main-content-wr .project-li-wr .project-li:hover .img-wr img{transform:scale(1.05);}
}

@media screen and (max-width:1440px){
.main-content-wr .project-li-wr .project-img{width:700px; height:450px; max-width: initial; min-width: initial;}
}/* 1440px */

@media screen and (max-width:1280px){
.main-content-wr .project-li-wr .project-img{width:560px; height:360px;}
.main-content-wr .project-li-wr .project-li{gap:40px;}
}/* 1280px */

@media screen and (max-width:1024px){
.main-btn .hover-line{--line-width: 35px;}
.main-title-wr{margin-bottom:50px;}
.main-content-wr .project-li-wr .project-li{flex-direction: column-reverse; gap:40px;}
.main-content-wr .project-li-wr:nth-child(even) .project-li{flex-direction: column-reverse; align-items: flex-start; }
.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr{text-align:left; width:100%;}
.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr .tit01{justify-content: flex-start; }
.main-content-wr .project-li-wr:nth-child(even) .project-li .project-explan-wr .main-btn{justify-content: flex-start; }

.main-content-wr .project-li-wr .project-img{width:100%; height:auto; border-radius:12px;}
.project-li-wr .main-btn{position:initial; margin-top:24px;}
}/* 1024px */

@media screen and (max-width:768px){
.main-content-wr .project-li-wr{margin-bottom:60px;}
.main-btn .hover-line{margin-right:8px;}

}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
.main-btn .hover-line{--line-width: 24px;}

.main-title-wr{margin-bottom:25px;}
.project-li-wr .main-btn{margin-top:16px;}
.project-explan-wr .tit01{font-size:12px;}
.project-explan-wr .tx01{font-size:12px;}
.project-explan-wr .tit01 .number{height:20px; line-height:19px; padding:0 8px; font-size:10px;}
.main-content-wr .project-li-wr .project-li{gap:24px;}
}/* 570px */

@media screen and (max-width:480px){
}/* 480px */

@media screen and (max-width:375px){
}/* 375px */


.view-btn{font-size:32px; color:#fff; font-weight: 400;}
.view-btn .arrow{font-size: 24px;}


/* section03 */
.main-contents-wr03{padding:180px 0;}
.main-contents-wr03 .stack-li-wr{display:flex; flex-wrap:wrap; gap:60px 30px;}
.main-contents-wr03 .stack-li-wr .stack-li{width:calc(33.33% - 20px);}
.main-contents-wr03 .stack-li-wr .stack-li .tit{font-size:24px; font-weight: 300; color:#fff; font-family: "Playfair Display", sans-serif; margin-bottom: 24px;
position:relative; padding-left: 15px;}
.main-contents-wr03 .stack-li-wr .stack-li .tit:before{content:''; display:block; width:2px; height:24px; background:var(--main__color); position:absolute; left:0; top:50%; transform:translateY(-50%);}

.main-contents-wr03 .stack-li-wr .stack-li .stack-group-wr{ display:flex; align-items:center; justify-content: space-between;}
.main-contents-wr03 .stack-li-wr .stack-li .stack-group-wr .tx{color:var(--tx__color01); font-size:18px; font-weight: 400; margin-bottom: 16px;}
.stack-group{display:flex; align-items:center; gap:8px;}
.stack-group span{width:10px; height:10px; border-radius:50%; background:#1f2937; display:block;}
.stack-group span.white{background:#fff;}

@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){

.main-contents-wr03 .stack-li-wr{gap:40px 0;}
.main-contents-wr03 .stack-li-wr .stack-li{width:100%;}
#main-contents-wr03{height:auto; padding:0 0 100px;}
.main-contents-wr03 .stack-li-wr .stack-li .tit{font-size:18px;}
.main-contents-wr03 .stack-li-wr .stack-li .tit:before{height:20px;}

.main-contents-wr03 .stack-li-wr .stack-li .stack-group-wr .tx{font-size:16px;}

.stack-group {gap:5px;}
.stack-group span{width:6px; height:6px;}
}/* 1024px */

@media screen and (max-width:768px){
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
#main-contents-wr03{padding:0 0 80px;}
.main-contents-wr03 .stack-li-wr .stack-li .tit{font-size:16px; margin-bottom:16px;}
.main-contents-wr03 .stack-li-wr .stack-li .tit:before{height:18px;}
.main-contents-wr03 .stack-li-wr .stack-li .stack-group-wr .tx{margin-bottom:12px; font-size:14px;}
}/* 570px */

@media screen and (max-width:480px){
}/* 480px */


/* contact 팝업*/
.modal-overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);backdrop-filter:blur(4px);z-index:9999;justify-content:center;align-items:center;opacity:0;transition:opacity 0.3s ease;}
.modal-overlay.active{display:flex;opacity:1;}
.modal-content{background:#ffffff;padding:50px 24px;border-radius:12px;box-shadow:0 10px 25px rgba(0,0,0,0.15);text-align:center;max-width:420px;width:95%;
transform:translateY(-20px);transition:transform 0.3s ease;}
.modal-overlay.active .modal-content{transform:translateY(0);}
.modal-icon{font-size:40px;margin-bottom:12px;}
.modal-message{font-size:16px;color:#333333;line-height:1.5;margin:0 0 20px 0;word-break:keep-all;}
.modal-btn{background-color:var(--main__color); color:#ffffff;border:none; 
padding:10px 24px;font-size:14px;font-weight:600;border-radius:6px;cursor:pointer;transition:background-color 0.2s ease;}

.main-contents-wr04 .main-title-wr .title{font-family: 'Inter', 'Pretendard', dotum, sans-serif; font-size: 90px; line-height: 1.12; font-weight: 800;text-transform: uppercase; letter-spacing:-1px;}
.main-contents-wr04 .main-title-wr{margin-bottom: 120px;}
.ft-emailform-box input, .ft-emailform-box textarea, .ft-emailform-box select{color:#fff; border:0; border-bottom:1px solid rgba(255,255,255,0.3); width:100%; 
background: transparent; font-size:18px; font-weight:400; border-radius: 0;}
.ft-emailform-box input, .ft-emailform-box select{ height:54px; line-height:54px; cursor: pointer; }
.ft-emailform-box textarea{height:250px; resize: none; word-break:keep-all; padding-left:0;}
.ft-emailform-box select option{color:#000;}
.flex-box {width:49%;}
.flex-box-wr{display:flex; margin-bottom:40px; gap:24px;}
.ft-emailform-box label{display:block; width:100%; font-size:18px; color:#fff; margin-bottom:12px;}
.ft-emailform-box label span{color:var(--main__color); display:inline-block;}
input:focus, textarea:focus,
select:focus {outline: none;  border-bottom:1px solid #fff;transition: all 0.2s ease;}
.hover-slide-right{width:220px; height:50px; line-height:50px; color:#000; background:#000; border:1px solid #fff; text-align:center; display:block; margin:60px auto 0; 
border-radius:36px;position: relative; overflow:hidden;}
.hover-slide-right span{color:#fff; font-size:16px; font-weight:400; transition:all 0.3s ease; z-index:2; position:relative;
font-family: 'Pretendard', dotum, sans-serif;}
.hover-slide-right:after{position:absolute; left:0; bottom:0; content:''; display:block; width:100%; height:100%; background:#fff;
transform:translateY(100%); transition:all 0.3s ease; }


.main-bt-wr{padding:120px 0 60px;}
.main-bt-wr h1{font-size:230px; font-weight:bold; color:#fff; display:block; width:100%; text-align:center; z-index: 10; position: relative; }


@media (pointer: fine) {
.main-bt-wr .ft-bottom-info-wr li .tit:hover{background:#fff; color:#191919; font-weight: 500;}
.modal-btn:hover{background-color:#1d4ed8;}

.hover-slide-right:hover:after{transform:translateY(0);}
.hover-slide-right:hover span{color:#000;}
.hover-slide-right:hover img{transition:all 0.3s ease; -webkit-filter: brightness(1) invert(1); filter: brightness(1) invert(1);}
}

@media screen and (max-width:1440px){
.main-bt-wr h1{font-size:180px;}
}/* 1440px */

@media screen and (max-width:1280px){
.main-contents-wr04 .main-title-wr .title{font-size:80px;}

.main-bt-wr h1{font-size:15vw;}
}/* 1280px */

@media screen and (max-width:1024px){
.main-bt-wr{padding:80px 0 40px;}
.main-contents-wr04 .main-title-wr{margin-bottom:80px;}
.main-contents-wr04 .main-title-wr .title{font-size:60px;}
.ft-emailform-box textarea{height:180px;}

.ft-emailform-box label{font-size:16px;}
.ft-emailform-box input, .ft-emailform-box textarea, .ft-emailform-box select{font-size:16px;}
.ft-emailform-box input, .ft-emailform-box select{height:40px; line-height:40px;}
}/* 1024px */

@media screen and (max-width:768px){
.main-contents-wr04 .main-title-wr{margin-bottom:60px;}
.main-contents-wr04 .main-title-wr .title{font-size:45px;}
.flex-box-wr{display:block; margin-bottom:24px;}
.flex-box{width:100%; margin-bottom:24px;}
.ft-emailform-box label{margin-bottom:6px;}

.hover-slide-right{margin:40px auto 0;  width:150px; height: 45px; line-height: 45px;}
.hover-slide-right span{font-size:14px;}
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
#main-contents-wr04{padding-bottom:40px;}
.main-contents-wr04 .main-title-wr{margin-bottom:40px;}
.main-contents-wr04 .main-title-wr .title{font-size:36px;}
.ft-emailform-box textarea{height:120px;}
.hover-slide-right{margin:32px auto 0;  width:130px; height: 42px; line-height: 41px;}
.hover-slide-right span{font-size:12px;}
.hover-slide-right img{width:12px;}
.footer{padding:60px 0 40px;}

.modal-content{padding:30px 20px;}
.modal-message{font-size:14px; margin:0 0 15px 0;}
.modal-btn{padding:8px 16px; font-size: 12px;}

.ft-emailform-box label{font-size:14px;}
.ft-emailform-box input, .ft-emailform-box textarea, .ft-emailform-box select{font-size:14px;}
.ft-emailform-box input, .ft-emailform-box select{height:35px; line-height:35px;}

}/* 570px */

@media screen and (max-width:480px){
.main-title-wr .tit{font-size:14px;}
.main-contents-wr04 .main-title-wr .title{font-size:8vw;}
}/* 480px */


			

/* 상세 페이지 */
.sub-contents-wr{padding:180px 0;}
.sub-visual-wr .project-explan-wr .img-wr{width:100%; margin-top: 80px;}

.sub-contents-wr .project-contents-box{} 
.sub-contents-wr .project-contents-box{display:flex; margin-top: 80px; gap:60px;}
.sub-contents-wr .project-contents-box .left-wr{width:360px; position: sticky;height: 100%;  top: 100px; }
.sub-contents-wr .project-contents-box .right-wr{flex:1;}

.sub-contents-wr .project-contents-box .left-wr .tx01, .sub-contents-wr .right-wr .tx01-style01{color:#6b7280; font-weight: 500; margin-bottom: 12px; font-size:14px;}
.sub-contents-wr .project-contents-box .left-wr .tx02{color:#fff; font-weight: 400; font-size:18px; word-break:keep-all; }
.project-info-ul .project-info-li{margin-bottom: 60px;}
.project-info-ul .project-info-li:last-child{margin-bottom: 0;}

.right-wr .tx01{color:#fff; font-weight: 500; margin-bottom: 24px; font-size:24px;}
.right-wr .tx02{color:var(--tx__color01); font-weight: 400; font-size:16px; line-height: 1.5;}

.btn-box-line{border-top: 1px solid rgba(255,255,255,0.08); padding-top: 40px; margin-top: 40px;}

@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
.project-explan-wr .subject{font-size:42px; margin:24px 0;}
}/* 1280px */

@media screen and (max-width:1024px){
.project-explan-wr .subject{font-size:36px; margin:20px 0;}
}/* 1024px */

@media screen and (max-width:768px){
.project-explan-wr .subject{font-size:32px;}
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){

.project-explan-wr .subject{ font-size:28px; margin:16px 0 8px;}

}/* 570px */

@media screen and (max-width:480px){
}/* 480px */

@media screen and (max-width:375px){
}/* 375px */


#main-contents-wr00 .tx-wr{margin-top: 40px;}

@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){
}/* 1024px */

@media screen and (max-width:768px){
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
#main-contents-wr00 .tx-wr{margin-top: 24px;}
}/* 570px */

@media screen and (max-width:480px){
}/* 480px */

@media screen and (max-width:375px){
}/* 375px */


.sub-title-wr{border-top:1px solid #000; padding:30px 0;}
.sub-title-wr .title{font-size:60px; font-weight:400; line-height:1.2; margin-bottom:12px;}
.sub-title-wr .view-btn{color:#000; font-size:24px; position:relative;}
.sub-title-wr .view-btn:after{content:''; position:absolute; bottom:0; left:0; width:0; height:1px; background:#000; transition:width 0.4s ease;}
.sub-title-wr .inner__full{ margin:0 auto; width:95%;}

#sub{background:#fff;}
#sub .header{position:relative;}
#sub .header .main__mnav__wr a{color:#000;}
#sub .header .main__mnav__wr{justify-content: flex-start;}
#sub .header > div{max-width:100%;}



.project-contents-wr{}
.project-contents-wr .project-inbox-wr{display:flex; border-top:1px solid #000; position:relative;}
.project-contents-wr .project-inbox-wr:after{content:''; display:block; position:absolute; top:0; left:50%; transform:translateX(-50%); width:1px; height:100%; 
background:#000;}
.project-contents-wr .project-inbox-wr > div{width:50%;}

.project-contents-wr .project-inbox-wr .tx-box-wr{flex-direction: column; justify-content: center; display: flex;}
.project-contents-wr .project-inbox-wr > div .tx-box{max-width:480px; margin:0 auto;}

.project-contents-wr .tit{font-size:56px; font-weight:400; margin-bottom:20px; color:#000; line-height:1.25;}
.project-contents-wr .tx01{font-size:18px; font-weight:400; line-height:1.45; color:#000; word-break:keep-all;}
.project-contents-wr .tx01.tx02{margin-top:12px;}
.project-contents-wr .tx03{font-size:16px; font-weight:400; line-height:1.45; color:#000; word-break:keep-all;}


.project-contents-wr .project-inbox-wr .tx-box-wr .tx-box ul{margin-top:12px;}
.project-contents-wr .project-inbox-wr .tx-box-wr .tx-box ul li{font-size:16px; margin-bottom:8px; line-height:1.4; font-weight:500; color:#333;}

.project-contents-wr .solution-inbox-wr{padding:40px 0; border-top:1px solid #000;}
.basic-btn{border:1px solid #000; width:150px; height:50px; line-height:50px; text-align:center; display:inline-block; background:#fff; margin-top:24px;}
.basic-btn span{color:#000; font-size:16px; font-weight:400;}

.basic-btn img {-webkit-filter: brightness(1) invert(1);filter: brightness(1) invert(1);}


@media (pointer: fine) {
	.basic-btn:hover{ background:var(--main__color); border:1px solid var(--main__color);}
	.basic-btn:hover span{color:#fff;}
	.basic-btn:hover img {-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}
	.sub-title-wr .view-btn:hover:after{width:calc(100% - 30px);}
}


.sub-footer{border-top:1px solid #000; padding:40px 0;}
.sub-footer .tx01{font-size:16px; font-weight:400; line-height:1.35; color:#000;}
.sub-footer a.tx01{border-bottom:1px solid #000; display:inline-block;}
.sub-footer .ft-link-wr{margin:12px 0 10px; display:flex; gap:12px; justify-content: center;}

.main-footer.sub-footer{z-index:10; position:relative;}
.main-footer.sub-footer a.tx01{border-bottom:1px solid #fff; }
.main-footer.sub-footer .tx01{ color:#fff;}


@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){
.project-contents-wr .project-inbox-wr{flex-direction: column;}
.project-contents-wr .project-inbox-wr > div{width:100%;}
.project-contents-wr .project-inbox-wr:nth-of-type(odd){flex-direction: column-reverse;}
.project-contents-wr .project-inbox-wr:last-of-type{flex-direction: column-reverse;}
.project-contents-wr .project-inbox-wr:after{display:none;}
.project-contents-wr .project-inbox-wr .tx-box-wr{border-top:1px solid #000;}

.project-contents-wr .project-inbox-wr > div .tx-box{max-width:100%; width:95%; margin:40px auto;}

.sub-title-wr .title{font-size:52px;}
.sub-title-wr .view-btn{font-size:20px;}
.view-btn .arrow{font-size:20px;}
.project-contents-wr .tit{font-size:42px;}
.project-contents-wr .tx01{font-size:16px;}
.project-contents-wr .tx03{font-size:16px;}
.project-contents-wr .project-inbox-wr .tx-box-wr .tx-box ul li{font-size:14px;}
.project-contents-wr .tx01.tx02{margin-top:6px;}

.sub-footer{padding:32px 0 60px;}
.sub-footer .tx01{font-size:14px;}
}/* 1024px */

@media screen and (max-width:768px){
.sub-title-wr .title{font-size:42px; margin-bottom:8px; }
.sub-title-wr .view-btn{font-size:18px;}
.view-btn .arrow{font-size:18px;}
.project-contents-wr .tit{font-size:32px; margin-bottom: 16px;}
.project-contents-wr .tx01{font-size:14px;}
.project-contents-wr .tx03{font-size:14px;}
.sub-footer .tx01{font-size:12px;}
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
.sub-title-wr .title{font-size:35px; }
.sub-title-wr .view-btn{font-size:16px;}
.sub-footer{padding:32px 0 45px;}

.view-btn .arrow{font-size:16px;}
.project-contents-wr .tit{ margin-bottom: 12px;}
.project-contents-wr .tit br{display:none;}

.project-contents-wr .project-inbox-wr > div .tx-box{margin:30px auto;}

.project-contents-wr .tx01{font-size:12px;}
.project-contents-wr .tx03{font-size:12px;}
.project-contents-wr .tx01 br{display:none;}
.project-contents-wr .tx03 br{display:none;}

.project-contents-wr .tit{font-size:26px;}
.project-contents-wr .solution-inbox-wr{padding:30px 0;}
.project-contents-wr .project-inbox-wr .tx-box-wr .tx-box ul li{font-size:12px; margin-bottom: 4px;}

}/* 570px */

@media screen and (max-width:480px){
.sub-title-wr .title{font-size:9vw;}
.sub-title-wr .view-btn{font-size:5.2vw;}
.view-btn .arrow{font-size:5.2vw;}
.project-contents-wr .tit{font-size:7.2vw;}
.project-contents-wr .tx01{font-size:3.6vw;}
.project-contents-wr .tx03{font-size:3.6vw;}
.project-contents-wr .project-inbox-wr .tx-box-wr .tx-box ul li{font-size:3.6vw;}

.project-contents-wr .project-inbox-wr:last-child > div .tx-box{margin-bottom:12px;}

.sub-footer .tx01{font-size:3.2vw;}
}/* 480px */

.project-list-contents-wr .project-list-ul{display:flex; flex-wrap:wrap; border-top:1px solid #000;}
.project-list-contents-wr .project-list-ul .project-list-li{width:25%; border-right:1px solid #000;  border-bottom:1px solid #000;}
.project-list-contents-wr .project-list-ul .project-list-li:nth-child(4n){border-right:1px solid transparent;}
.project-list-contents-wr .project-list-ul .project-list-li:last-child{border-bottom:0;}
.project-list-contents-wr .project-list-ul .project-list-li .tx-box{padding:16px; border-top:1px solid #000; }
.project-list-contents-wr .project-list-ul .project-list-li .tx-box .tx{ font-size:16px; color:#191919; display:flex; align-items:center; gap:6px; font-family:"Pretendard", sans-serif;}
.project-list-contents-wr .project-list-ul .project-list-li .tx-box .tx .line{display:inline-block; width:1px; height:12px; background:#ddd;}
.project-list-contents-wr .project-list-ul .project-list-li .img__wr{overflow:hidden;}
.project-list-contents-wr .project-list-ul .project-list-li .img__wr > img{ transition:all 0.4s ease;}

@media (pointer: fine) {
.project-list-contents-wr .project-list-ul .project-list-li:hover .img__wr > img{transform:scale(1.06);}
.project-list-contents-wr .project-list-ul .project-list-li:hover .tx-box .tx{color:var(--main__color);}
.project-list-contents-wr .project-list-ul .project-list-li:hover .tx-box .tx .line{background:var(--main__color);}
}

@media screen and (max-width:1440px){
}/* 1440px */

@media screen and (max-width:1280px){
}/* 1280px */

@media screen and (max-width:1024px){
}/* 1024px */

@media screen and (max-width:768px){
}/* 768px */

@media screen and (max-width:600px){
}/* 600px */

@media screen and (max-width:570px){
}/* 570px */

@media screen and (max-width:480px){
}/* 480px */


